---
// Your existing script tags and imports remain unchanged here
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME } from "@consts";

type Entry = {
  slug: string;
  collection: string;
  data: {
    date: Date;
    title: string;
    description: string;
    author?: string;
    source?: string;
    draft?: boolean;
    // Add other fields as needed...
  };
};

const blog: Entry[] = (await getCollection("blog"))
  .filter((post: Entry) => !post.data.draft)
  .sort((a: Entry, b: Entry) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: Entry[] = (await getCollection("projects"))
  .filter((project: Entry) => !project.data.draft)
  .sort((a: Entry, b: Entry) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Press archive
          </h5>
          <Link href="/blog">
            See press archive
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>
      
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            My Collections
          </h5>
          <Link href="/projects">
            See all file lists
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Designed by
        </h5>
        <ul class="flex flex-wrap gap-2">
          <li class="line-clamp-1">
            <Link href="mailto:sal@hey.com" aria-label={`Email ${SITE.NAME}`}>
              sal@hey.com
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
