---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME } from "@consts";

type Entry = {
  slug: string;
  collection: string;
  data: {
    date: Date;
    title: string;
    description: string;
    author?: string;
    source?: string;
    draft?: boolean;
    // Add other fields as needed...
  };
};

const blog: Entry[] = (await getCollection("blog"))
  .filter((post: Entry) => !post.data.draft)
  .sort((a: Entry, b: Entry) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: Entry[] = (await getCollection("projects"))
  .filter((project: Entry) => !project.data.draft)
  .sort((a: Entry, b: Entry) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hey Jon,
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I've been burning the midnight oil for the past few months, working hard to make a strong case for myself as the perfect candidate for this job. I'm confident that you already have an idea of what I bring to the table. I truly believe I'm the right person for this role, and I've already made significant progress on the groundwork. Collaborating with you on this project is not just something I want to do, but something I feel I *need* to do. It would be a missed opportunity if I didn't give it my all.
          </p>
          <p class="animate">  
            To show you how serious I am about this, I'm sharing a work-in-progress website that includes:
          </p>
        </article>
      </section>
      
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Press archive
          </h5>
          <Link href="/blog">
            See press archive
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            My Collections
          </h5>
          <Link href="/projects">
            See all file lists
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Let's Connect
        </h5>
        <article>
          <p>
            Let's talk more about how we can make this happen. I'm excited to hear your thoughts and discuss the next steps.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          <li class="line-clamp-1">
            <Link href="mailto:sal@hey.com" aria-label={`Email ${SITE.NAME}`}>
              sal@hey.com
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>